# entradas
unidade = float(input("Valor da unidade: "))
vendido = int(input("Quantas unidades vendidas: "))
custo = float(input("Total de gastos com a comida: "))
doado = float(input("Total de arrecadação mensal da turma: "))
# calculo financeiro
lucro = (vendido * unidade) - custo
compara = (lucro)/(doado) * 100
porcento = round(compara,2)
# exibicao do resultado
if porcento >= 20:
    print("------------------------------------")
    print(f"ISSO É BOM. O lucro total é de R${lucro} reais e corresponde a um acréssimo de {porcento}% em relação ao que foi arrecadado pela turma, mensalmente. ")
elif porcento < 20 and vendido < 30:
    print("------------------------------------")
    print("VOCÊ DEVE BAIXAR O PREÇO. O valor dos gastos supera o valor arrecadado mensalmente. Isso significa que há um problema na gestão financeira. O real motivo foi que o preço não é atrativo para o consumidor.")
else: 
    print("------------------------------------")
    print("VOCÊ DEVE AUMENTAR O PREÇO. O valor dos gastos supera o valor arrecadado mensalmente. Isso significa que há um problema na gestão financeira. O real motivo foi que o preço do produto é muito abaixo do mercado.")
